.coa-About__sidebar__display {padding-top: 1rem;} .coa-about__head {
  font-family: "Arial"; font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color:#0049C7;
}

.coa-about__body {
font-family: "Arial";font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
 margin-bottom: 1rem;}

.coa-about__title {
color: #0049C7; font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
  font-family: "Arial"; 
  margin-bottom: .5rem;
  margin-top: 2.2rem;
}


.coa-about__phase {
color: #0049C7; font-family: "Arial"; font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;

}


.coa-About__sidebar {
font-family: "Arial"; font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  text-align: left;
  color: #0049C7;
  font-weight: 600;
}


.coa-About__sidebar__title{
padding-top: 1.5rem;font-size: 20px;
  font-weight: 600;
  color: #0049C7;
  font-family: "Arial";
}


.coa-About__sidebar__goal__title{
  font-size: 14px;
  font-weight: 600;
  color: #0049C7;
  font-family: "Arial";}


.coa-About__sidebar__head{
 font-family: "Arial"; font-size: 20px;
  font-weight: 600;
  padding-top: 2rem;
  color: #0049C7;
}


.coa-About__sidebar__plain-text  {
  font-size: 14px;
  font-family: "Arial";
  line-height: 1.3;
  color: #4a4a4a;
  margin: 0;
  padding-bottom: .8rem;
}


.coa-about__head {
margin-top: -.1rem;
}


.icon-learning {
  clear: both;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 4px;
  padding-right: 6px;
  margin-right: 6px;
}


.icon-gov {
  clear: both;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 4px;
  padding-right: 6px;
  margin-right: 6px;

  
}.icon-mobility {
  clear: both;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 4px;
  padding-right: 6px;
  margin-right: 6px;
}


.icon-safety {
  clear: both;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 4px;
  padding-right: 6px;
  margin-right: 6px;
}


.icon-economic {
  clear: both;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 4px;
  padding-right: 6px;
  margin-right: 6px;
}


.icon-health {
  clear: both;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 4px;
  padding-right: 6px;
  margin-right: 6px;
}


.icon-clock {
  clear: both;
  margin-top: 2px;
  margin-right: 2px;
}
