.coa-Card {
  width: 320px;
  height: 490px;
  border: 3px solid #0049C7;
  background-color: #fcfcfc; margin: .9rem;
  position: relative;
  &:last-child {
    margin-right: 0;
  }
}

.coa-Card__heading {
	width: 100%;
  min-height: 200px;
	background-color: #0049C7;
  padding: 15px;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.coa-Card__label-text {
  display: block;
  margin: auto;
	font-size: 12px;
 font-family: "Arial";	font-weight: 350; line-height: 2.36;
	letter-spacing: 0.8px;
	color: #efefef;
  text-transform: uppercase;
  flex: 1
}

.coa-Card__title-text {
  font-size: 28px;
  font-family: "Arial"; font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ADADAD;
  margin: 0;
  line-height: 3.5rem;
 flex: 1 1 0%;
}

.coa-Card__desc-text {
  font-size: 12px;
  font-style: italic;
  text-align: center; color: #efefef;
  font-family: "Arial"; line-height: 1.5rem;
  margin: .5rem;
  flex: 1;
  margin-bottom: auto;
}

.coa-Card__body {
padding: .75rem 1.5rem 1rem; font-family: "Arial"; font-weight: bold; font-size: 20px;}

.coa-Card__project-list {
  list-style: decimal;
margin-top: 10px; margin-left: 20px;
  padding: 5px;
  font-size: 15px; font-family: "Arial"; color: #4f4f4f; font-weight: normal; li {
    line-height: 130%;
    width: 240px;
   
  }
;}

.coa-Card__project-list-item-link {
  color: #0049C7;
 text-decoration: none;
}

.coa-Card__footer {
  font-family: "Arial"; font-size: 12px;
 text-align: center; text-transform: uppercase; position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2 1.5rem 1rem; background-color: transparent;
}

.coa-Card__footer-text {
  padding: .95rem .3rem .8rem;
  border-top: 2px solid #0049C7;
}
 .coa-Card__label-text2{font-size: 16px; font-weight: 600; font-family: "Arial"; color: #0049C7;}