@import "../variables";

// TODO: fix this magic number
$breakpoint: 940px;

.coa-SiteHeader.usa-header {
.usa-nav-link {font-family: "Arial"; font-weight:300; } .usa-logo-text {font-family: "Arial"; font-weight: 400;} .usa-navbar {
 font-family: "Arial"; position: relative;
    width: 33%;
    @media(max-width: $breakpoint) {
      width: 100%;
    }
  }

  }

.usa-menu-btn {
display: none;
}

